
.DS_Store

dump.txt
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build


build/*
build
build/
*/build/*

local.properties
/*/local.properties
./build

# Intellij IDEA (see https://intellij-support.jetbrains.com/entries/23393067)
.idea/workspace.xml
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources.ids

.gradle/

.idea/

*/build/

gradle
gradlew.bat
gradlew

